

	#sign-in-plan {
	position: absolute;
	left: calc(-50% + 14px);
	top: -23px;
	left: 10px;
	top: 10px;
	margin: 20px auto;
	padding: 0 15px;
	width: 130px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: white;


	
}

#sign-in-plan:before {
	content: "";
	position: absolute;
	z-index: -2;
	left: calc(50% - 14px);
	top: -24px;
	border-width: 14px;
	border-style: solid;
	border-color: transparent transparent #dcdcdc;
}

#sign-in-plan:after {
	content: "";
	position: absolute;
	left: calc(50% - 14px);
	top: -23px;
	border-width: 14px;
	border-style: solid;
	border-color: transparent transparent white;
	
}

#sign-in-plan ul li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #DCDCDC;
	padding-left: 20px;
	color: #888888;
}

#sign-in-plan ul li:last-child {
	border: 0;
}

#sign-in-plan ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

#sign-in-plan ul li span {
	display: inline-block;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	background: url(../img/index3.png);
}

#sign-in-plan span.wechat {
	background-position: 107px 197px;
}

#sign-in-plan span.netease {
	background-position: 105px 317px;
}

#sign-in-plan span.qq {
	background-position: 105px 277px;
}

#sign-in-plan span.call {
	background-position: 105px 257px;
}

#sign-in-plan span.sina {
	background-position: 105px 297px;
}